<h2>List A Puppy </h2>
<form action="/puppy" method="POST">
<label for="name" name="name">Name</label>
<input type="text" for="name" name="name">

<label for="breed" name="breed">Breed</label>
<input type="text" for="breed" name="breed">

<label for="months_old" name="months_old">Months Old</label>
<input type="text" name="months_old" for="months_old">

<input type="submit" value="List">
</form>